[submodule "thirdparty/STM32CubeG4"]
	path = thirdparty/STM32CubeG4
	url = https://github.com/STMicroelectronics/STM32CubeG4.git
[submodule "thirdparty/FreeRTOS-Kernel"]
	path = thirdparty/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "thirdparty/u8g2"]
	path = thirdparty/u8g2
	url = https://github.com/olikraus/u8g2.git
